<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heczko Adam</title>

    {% include "partials/libraries.html" %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %} {% endblock %}
</head>
<body>
    <div id="container">
        <div class="nav-bar">
            <div class="nav-bar-inner">
                <div class="title">
                    Adam Heczko
                </div>
                
                <div class="nav-buttons">
                    <a href="/" class="nav-btn">Home</a>
                    <a href="/projects" class="nav-btn">Projects</a>
                    <a href="/blog" class="nav-btn">Blog</a>
                    <a href="/contact" class="nav-btn">Contact</a>
                </div>
            </div>
        </div>

        <div class="page-content">
            {% block body %} {% endblock %}

            {% if "username" in session %}
                <div><a href="/logout">Logout</a></div>
            {% endif %}
        </div>
    </div>
</body>
</html>