.nav-bar {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    background: blue;
    border-radius: 1em;
    padding: 0.1em 0.5em;
    width: 7em;
}

#container {
    text-align: center;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}