<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heczko Adam - Login</title>

    <style>
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        form input {
            padding: 0.5em;
            margin: 0.1em 0em;
            width: 10em;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username..." required>
        <input type="password" name="password" placeholder="Password..." required>
        <input type="submit" value="Login">
    
        {% if error == ErrorType.INVALID_PASSWORD %}
            <p style="color: red;">Invalid password</p>
        {% elif error == ErrorType.USER_NOT_FOUND %}
            <p style="color: red;">User not found</p>
        {% endif %}
    </form> 
</body>
</html>